<div class="header" ng-controller="HeaderRedisCtrl">
    <a href="/" class="header-brand pull-left">
        <img class="brand-logo" src="http://i3.letvimg.com/lc04_lecloud/201601/12/10/22/letvcloud-logo.png">
    </a>
    <div class="header-list dropdown pull-left ">
        <a id="drop1" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span>{{currentContext.currentRegion.regionCNname}}</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="drop1">
            <li ng-repeat="region in currentContext.regionList">
                <a href="#/{{region.regionName}}/redis-list" ng-class="{'active':currentContext.currentRegion===region}">{{region.regionCNname}}</a>
            </li>
        </ul>
    </div>
    <a href="/account/logout" class="header-logout pull-right">
        <span>{{langRedisHeader.exit}}</span>
    </a>
    <div class="header-separator pull-right">
        <i class="separator"></i>
    </div>
    <a href="/helpCenter/helpCenter.jsp" class="header-help pull-right">
        <img src="/images/nav-help.png" class="help-icon" />
        <span>{{langRedisHeader.help}}</span>
    </a>
</div>