<div class="view-common view-vm-disk" ng-controller="VmDiskCrtl">
    <div class="le-row operate-panel">
        <div class="le-col-6 le-btn-group">
            <button class="btn btn-le-blue" ng-click="openVmDiskCreateModal('medium')" ng-disabled="operationBtn.create==0"><span>创建云硬盘</span></button>
            <button class="btn btn-le-blueGreen" ng-click="openVmDiskSnapshotCreateModal('medium')" ng-disabled="operationBtn.createsnap==0"><span>创建快照</span></button>
            <button class="btn btn-le-green" ng-click="openVmDiskAttachModal('medium')" ng-disabled="operationBtn.attachdisk==0"><span>挂载云硬盘</span></button>
            <div dropdown class="more-operation-dropdown">
                <a href class="btn btn-le-yellow" dropdown-toggle>
                    更多操作
                </a>
                <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                    <li class="hide"><button class="btn dropdown-btn" ng-click="openVmDiskEditModal('medium')" ng-disabled="operationBtn.edit==0">编辑云硬盘</button></li>
                    <li><button class="btn dropdown-btn" ng-click="detachDisk()" ng-disabled="operationBtn.detachdisk==0">卸载云硬盘</button></li>
                    <li><button class="btn dropdown-btn" ng-click="deleteDisk()" ng-disabled="operationBtn.delete==0">删除云硬盘</button></li>
                </ul>
            </div>
        </div>
        <div class="le-col-6">
            <div class="le-search-box pull-right">
                <input type="text" ng-model="searchName" ng-model-options="{debounce:500}" ng-change="doSearch()" placeholder="输入云硬盘名称" />
                <span class="search-icon"></span>
            </div>
        </div>
    </div>
    <div class="le-row list-common">
        <div class="le-col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th  class="unselectable">
                         <span class="iconfont icon-righticon"  ng-class="{checked:isAllDiskChecked()}" ng-click="checkAllDisk()"></span>
                    </th>
                    <th><span>名称</span></th>
                    <th><span>类型</span></th>
                    <th><span>容量</span></th>
                    <th><span>状态</span></th>
                    <th><span>挂载云主机</span></th>
                    <th><span>创建时间</span></th>
                </tr>
                </thead>
                <tbody id="tby">
                <tr ng-repeat="disk in diskList">
                    <td class="unselectable">
                        <span class="iconfont icon-checkiconfill" ng-class="{checked:disk.checked}" ng-click="checkDisk(disk)"></span>
                    </td>
                    <td class="le-col-name"><span>{{disk.name|| EMPTY_TEXT}}</span></td>
                    <td><span>{{disk.volumeType}}</span></td>
                    <td><span>{{disk.size}}GB</span></td>
                    <td>
                        <span>{{disk.status | diskStatusFilter}}</span>
                        <span ng-if="['creating','attaching','deleting','detaching'].indexOf(disk.status)>-1" class="status-loading"></span>
                    </td>
                    <td class="le-col-name"><span>{{(disk.attachments[0] && disk.attachments[0].vmName)|| EMPTY_TEXT}}</span></td>
                    <td><span>{{disk.created | date:'yyyy-MM-dd HH:mm'}}</span></td>
                </tr>
                <tr ng-if="diskList.length==0">
                    <td ng-if="!isListLoading" colspan=10 class="nodata">暂无云硬盘，去创建吧。</td>
                    <td ng-if="isListLoading" colspan=10></td>
                </tr>
                </tbody>
            </table>
            <div ng-if="!isListLoading && diskList.length>0" class="le-pagination">
                <span>共{{totalItems}}条，每页显示{{pageSize}}条</span>
                <pagination boundary-links="true" direction-links="true" ng-change="onPageChange()"
                            items-per-page="pageSize"
                            total-items="totalItems" ng-model="currentPage" class="pagination-sm" max-size="5" rotate="false"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                            last-text="&raquo;">
                </pagination>
            </div>
        </div>
        <div ng-if="isListLoading" class="spin"></div>
        <div ng-if="isListLoading" class="far-spin"></div>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-top-right'}">
    </toaster-container>

    <script type="text/ng-template" id="VmDiskAttachModalTpl">
        <div class="modal-vm-disk-attach">
            <form novalidate class="form-vm-disk-attach" name="vm_disk_attach_form">
                <div class="le-modal-header">
                    <span class="header-title">挂载云硬盘</span>
                    <a class="close" ng-click="closeModal()">
                        <i class="iconfont icon-add"></i>
                    </a>
                </div>
                <div class="le-modal-body">
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">云主机：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <input type="hidden" name='selected_vm' ng-model="selectedVm" required />
                            <le-select select-model="selectedVm" select-options="vmListSelectorData" select-empty-text="暂无可用的云主机" is-select-option-loading="isVmListLoading"></le-select>
                            <input-validation-tooltip class="le-select-tooltip" ng-show="vm_disk_attach_form.$submitted && vm_disk_attach_form.selected_vm.$error.required"
                                                      validation-message="请选择云主机">
                            </input-validation-tooltip>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-12 col-submit-order">
                            <button class="btn btn-le-blue" ng-click="vm_disk_attach_form.$valid && !isFormSubmiting && attachDisk()" ng-disabled="isFormSubmiting">
                                <span ng-if="!isFormSubmiting">挂载</span>
                                <span ng-if="isFormSubmiting">挂载执行中...</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="VmDiskEditModalTpl">
        <div class="modal-vm-disk-edit">
            <form novalidate class="form-vm-disk-edit" name="vm_disk_edit_form">
                <div class="le-modal-header">
                    <span class="header-title">编辑云硬盘</span>
                    <a class="close" ng-click="closeModal()">
                        <i class="iconfont icon-add"></i>
                    </a>
                </div>
                <div class="le-modal-body">
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">名称：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <input type="text" class="le-form-control input-disk-name" ng-model="diskName" name="disk_name" ng-trim="false" le-auto-focus name-input-restrict />
                            <input-validation-tooltip ng-show="(vm_disk_edit_form.$submitted || vm_disk_edit_form.disk_name.$touched) && vm_disk_edit_form.disk_name.$error.nameInputRestrict"
                                                      validation-message="{{REGEX_MESSAGE.NAME}}">
                            </input-validation-tooltip>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-12 col-submit-order">
                            <button class="btn btn-le-blue" ng-click="vm_disk_edit_form.$valid && !isFormSubmiting && editDisk()" ng-disabled="isFormSubmiting">
                                <span ng-if="!isFormSubmiting">编辑</span>
                                <span ng-if="isFormSubmiting">编辑执行中...</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="VmDiskSnapshotCreateModalTpl">
        <div class="modal-vm-disk-snapshot-create">
            <div class="le-modal-header">
                <span class="header-title">创建云硬盘快照</span>
                <a class="close" ng-click="closeModal()">
                    <i class="iconfont icon-add"></i>
                </a>
            </div>
            <div class="le-modal-body">
                <form novalidate class="form-vm-disk-snapshot-create" name="vm_disk_snapshot_create_form">
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">快照名称：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <input type="text" class="le-form-control input-disk-snapshot-name" ng-model="diskSnapshotName" name="disk_snapshot_name" ng-trim="false"name-input-restrict />
                            <input-validation-tooltip ng-show="(vm_disk_snapshot_create_form.$submitted || vm_disk_snapshot_create_form.disk_snapshot_name.$touched) && vm_disk_snapshot_create_form.disk_snapshot_name.$error.nameInputRestrict"
                                                      validation-message="{{REGEX_MESSAGE.NAME}}">
                            </input-validation-tooltip>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-12 col-submit-order">
                            <button class="btn btn-le-blue" ng-click="vm_disk_snapshot_create_form.$valid && !isFormSubmiting && createDiskSnapshot()" ng-disabled="isFormSubmiting">
                                <span ng-if="!isFormSubmiting">创建</span>
                                <span ng-if="isFormSubmiting">创建执行中...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>