 <div class="modal-vm-disk-create">
        <form novalidate class="form-vm-disk-create" name="vm_disk_create_form">
            <div class="le-modal-header">
                <span class="header-title">创建云硬盘</span>
                <a class="close" ng-click="closeModal()">
                    <i class="iconfont icon-add"></i>
                </a>
            </div>
            <div class="le-modal-body">
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">名称：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <input type="text" class="le-form-control" ng-model="diskName" name="disk_name" ng-trim="false" le-auto-focus name-input-restrict />
                        <input-validation-tooltip ng-show="(vm_disk_create_form.$submitted || vm_disk_create_form.disk_name.$touched) && vm_disk_create_form.disk_name.$error.nameInputRestrict"
                                                  validation-message="{{REGEX_MESSAGE.NAME}}">
                        </input-validation-tooltip>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">快照：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <le-select select-model="selectedSnapshot" select-options="snapshotListSelectorData"></le-select>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">类型：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <div class="letv-mutiCheck check-disk-type" ng-repeat="diskType in diskTypeList" ng-class="{'selected':isSelectedDiskType(diskType)}" ng-click="selectDiskType(diskType)" ng-disabled="!diskType.enable">
                            <span>{{diskType.name}}</span>
                            <i class="iconfont icon-checkroundfillicon"></i>
                        </div>
                    </div>
                </div>
                <div class="le-row row-item-description">
                    <div class="le-col-offset-3 col-control">
                        <span>吞吐量：{{selectedDiskType.throughput}}Mb/s&nbsp;&nbsp;&nbsp;IOPS：{{selectedDiskType.iops}}&nbsp;&nbsp;&nbsp;容量：10-{{selectedDiskType.capacity}}GB</span>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">容量：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <le-slider le-slider-model="diskVolume" le-slider-step="10" le-slider-min="diskMinVolume" le-slider-max="2000" le-slider-unit="GB" is-slider-min-changeable="true"></le-slider>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">购买时长：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <buy-period-selector buy-period-model="diskBuyPeriod" buy-period-options="allDiskBuyPeriods"></buy-period-selector>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">数量：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <numeric-input numeric-model="diskCount" numeric-max="20" numeric-min="1"></numeric-input>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-12 col-submit-order">
                        <span class="order-price" ng-show="!isCalculatingPrice">
                            <span class="title">合计：</span>
                            <span class="price">{{totalPrice}}</span>
                            <span class="unit">元</span>
                        </span>
                        <span class="calculating-price" ng-show="isCalculatingPrice">价格计算中...</span>
                        <button class="btn btn-le-red" ng-click="vm_disk_create_form.$valid && !isFormSubmiting && createDisk()" ng-disabled="isFormSubmiting">
                            <span ng-if="!isFormSubmiting">提交订单</span>
                            <span ng-if="isFormSubmiting">订单提交中...</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
 </div>