<div class="le-confirm">
    <div class="le-modal-header">
        <span class="header-title" title="{{title}}">{{title}}</span>
        <a class="close" ng-click="closeModal()">
            <i class="iconfont icon-add"></i>
        </a>
    </div>
    <div class="le-row confirm-content">
        <i class="iconfont icon-icon1"></i>
        <span class="confirm-message">{{confirmMessage}}</span>
    </div>
    <div class="le-row confirm-operation">
        <button class="btn btn-le-blue" ng-click="ok()">{{confirmModal.ok}}</button>
        <button ng-if="msgBoxType!='alert'" class="btn btn-le-yellow" ng-click="cancel()">{{confirmModal.cancel}}</button>
    </div>
</div>