<div class="modal-header letv-modal-header vm-create-modal-header">
    <a class="close" ng-click="closeModal()">
        <i class="iconfont icon-add"></i>
    </a>
    <h3 class="modal-title">{{editTitle}}</h3>
</div>
<div class="modal-body">
    <form novalidate class="edit-code-form" name="edit_code_form">
        <div class="le-col-12 ">
            <div class="left-inputs clearfix" >
                <div class="inputs-item  code-edit-wrap mirror-setting-code clearfix">
                    <div ui-ace="aceOption" id="code"  ng-model="mirrorCompile"  name="mirror_compile" necessary=true class="code le-form-control compile " input-length-restrict le-auto-focus>
                    </div>
                </div>
            </div>
            <div class="left-button">
                <button class="btn btn-le-red btn-submit-order pull-right" ng-click="editCode()" >
                    <span>{{editCodePage.ok}}</span>
                </button>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
        <iframe style="display:none" ng-src="{{keypairDownloadUrl}}"></iframe>
    </form>
</div>