<div class="view-common" ng-controller="esListCtrl">
    <div class="le-row operate-panel">
        <div class="le-col-6 le-btn-group">
            <button class="btn btn-le-blue" ng-click="openEsCreateModal('large')"><span>{{esListPage.createEsBtn}}</span></button>
        </div>
        <div class="le-col-6">
            <div class="le-search-box pull-right">
                <input type="text" ng-model="searchName" ng-model-options="{debounce:500}" ng-change="doSearch()"
                       placeholder="{{esListPage.inputEsName}}"/>
                <span class="search-icon"></span>
            </div>
        </div>
    </div>
    <div class="le-row list-common">
        <div class="le-col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="unselectable">
                        <span class="iconfont icon-righticon" ng-class="{checked:isAllEsChecked()}"
                              ng-click="checkAllEs()"></span>
                    </th>
                    <th><span>{{esListPage.tableTrName}}</span></th>
                    <th><span>{{esListPage.tableTrState}}</span></th>
                    <th><span>{{esListPage.tableTrCreateTime}}</span></th>
                    <th><span>{{esListPage.tableTrMark}}</span></th>
                </tr>
                </thead>
                <tbody id="tby">
                <tr ng-repeat="es in esList">
                    <td class="unselectable">
                        <span class="iconfont icon-checkiconfill" ng-class="{checked:es.checked}"
                              ng-click="checkEs(es)"></span>
                    </td>
                    <td class="le-col-name">
                        <a ng-show="es.status=='NORMAL'" ng-href="#/es-case-info/{{es.id}}">{{es.esName}}</a>
                        <span ng-show="es.status!='NORMAL'" class="text-gray">{{es.esName}}</span>
                    </td>
                    <td>
                        <span>{{es.status | esStatusFilter}}</span>
                        <span ng-show="es.status=='BUILDDING'" class="status-loading"></span>
                    </td>
                    <td><span>{{es.createTime | date :'yyyy-MM-dd HH:mm:ss'}}</span></td>
                    <td><span>{{es.descn|gReconvertFilter}}</span></td>
                </tr>
                <tr ng-if="esList.length==0">
                    <td ng-if="!isListLoading" colspan=10 class="nodata">{{esListPage.goToCreateEs}}</td>
                    <td ng-if="isListLoading" colspan=10></td>
                </tr>
                </tbody>
            </table>
            <div ng-show="!isListLoading && esList.length>0" class="le-pagination">
                <span>{{pagination.total}}{{totalItems}}{{pagination.nums}}，{{pagination.perPage}}{{pageSize}}{{pagination.nums}}</span>
                <pagination boundary-links="true" direction-links="true"
                            ng-change="pageChange()" items-per-page="pageSize"
                            total-items="totalItems" ng-model="currentPage" class="pagination-sm" max-size="5"
                            rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                            last-text="&raquo;">
                </pagination>
            </div>
            <div ng-if="isListLoading" class="spin"></div>
            <div ng-if="isListLoading" class="far-spin"></div>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-top-right'}">
</toaster-container>