<div class="header" ng-controller="HeaderRdsCtrl">
    <a href="/" class="header-brand pull-left">
        <img class="brand-logo" src="http://i3.letvimg.com/lc04_lecloud/201601/12/10/22/letvcloud-logo.png">
    </a>
    <a href="/account/logout" class="header-logout pull-right">
        <span>{{headerEsPage.exit}}</span>
    </a>
    <div class="header-separator pull-right">
        <i class="separator"></i>
    </div>
    <a href="/helpCenter/helpCenter.jsp" class="header-help pull-right">
        <img src="/images/nav-help.png" class="help-icon" />
        <span>{{headerEsPage.help}}</span>
    </a>
</div>