<div class="view-common" ng-controller="apperListCtrl">
    <div class="le-row list-common">
        <div class="le-row operate-panel">
            <div class="le-col-6 le-btn-group">
                <button class="btn btn-le-blue" ng-click="settingApper('create','large')"><span>{{apperListPage.create}}</span></button>
                <div dropdown class="more-operation-dropdown">
                    <a href class="btn btn-le-yellow" dropdown-toggle>
                        {{apperListPage.moreBtn}}
                    </a>
                    <ul class="dropdown-menu user-manger" aria-labelledby="simple-dropdown">
                        <li><button class="btn dropdown-btn" ng-click="deleteApper('small')">{{apperListPage.delete}}</button></li>
                    </ul>
                </div>
            </div>
            <div class="le-col-6">
                <div class="title pull-right">
                    <!--<le-select-find  select-model="apperListNow" select-options="apperList"/>-->
                    <le-select  select-model="appCellListNow" select-options="appCellList"/>
                </div>
            </div>
        </div>
        <div class="le-row list-common">
            <div class="le-col-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="unselectable">
                            <span class="iconfont icon-righticon"   ng-class="{checked:isAllApperChecked('allApp')}" ng-click="checkAllApper('allApp')"></span>
                        </th>
                        <th><span>{{apperListPage.Name}}</span></th>
                        <th><span>{{apperListPage.PodCount}}</span></th>
                        <th><span>{{apperListPage.Memory}}</span></th>
                        <th><span>{{apperListPage.CreatedAt}}</span></th>
                        <th><span>{{apperListPage.UpdatedAt}}</span></th>

                    </tr>
                    </thead>
                    <tbody id="allApp">
                    <tr ng-repeat="apper in apperList">

                        <td class="unselectable">
                            <span class="iconfont icon-checkiconfill" ng-class="{checked:apper.checked}" ng-click="checkApper(apper)"></span>
                        </td>
                        <td class="le-col-name">
                            <a ng-href="#/app-tag/{{encoded(apper.Id)}}/{{apper.Name}}">
                                <span ng-click="setAppName(apper.Name)" class="text-gray" >{{apper.Name}}</span>
                            </a>
                        </td>
                        <td class=""><span>{{apper.PodCount}}</span></td>
                        <td class=""><span>{{apper.Memory}}</span></td>
                        <td class=""><span>{{apper.CreatedAt|date : 'yyyy-MM-dd HH:mm:ss '}}</span></td>
                        <td class=""><span>{{apper.UpdatedAt|date : 'yyyy-MM-dd HH:mm:ss '}}</span></td>
                    </tr>
                    <tr ng-if="apperList.length==0 || !apperList">
                        <td ng-if="!isListLoading" colspan=10 class="nodata">{{apperListPage.goToCreateApper}}</td>
                        <td ng-if="isListLoading" colspan=10></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="!isListLoading && apperList.length>0" class="le-pagination">
                    <span>{{pagination.total}}{{totalItems}}{{pagination.nums}}，{{pagination.perPage}}</span>
                    <span class="pageSpan" ng-click="setPageSize()" >{{pageSize}}</span>
                    <input class = "inputPageSpan" ng-blur="pageSizeChange()" ng-model="pageSizeCustom">
                    <span>{{pagination.nums}}</span>
                    <pagination boundary-links="true" direction-links="true"
                                ng-change="pageChange()" items-per-page="pageSize"
                                total-items="totalItems" ng-model="currentPage" class="pagination-sm" max-size="5"
                                rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;">
                    </pagination>
                </div>
                <div ng-if="isListLoading" class="spin"></div>
                <div ng-if="isListLoading" class="far-spin"></div>
            </div>
        </div>

    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-top-right'}">
</toaster-container>